@model WarCraft.Models.Product.ProductDetailsVM

@{
    ViewData["Title"] = "Details";
}

<div class="text-center">
<h1>Details</h1>
</div>

<div class="text-center">
    <hr />
    <div class="row" id="details">
        <img id="detailPhoto" src="@Html.DisplayFor(model => model.Image)" alt="Image" />
        <h2>@Html.DisplayFor(model => model.Name)</h2>
        <h3>@Html.DisplayFor(model => model.CategoryName)</h3>
        <h5>@Html.DisplayFor(model => model.ManufacturerName)</h5>
        <h6>Description:</h6>
        <p>@Html.DisplayFor(model => model.Description)</p>
        <h6>Available Quantity:</h6>
        <p> @Html.DisplayFor(model => model.QuantityAvailable)</p>
        <h3>Price: @Html.DisplayFor(model => model.Price) BGN</h3>
        <h6>Discount: @Html.DisplayFor(model => model.Discount)%</h6>
        @if (this.User.Identity.IsAuthenticated)
        {
            <a id="button" asp-action="Create" asp-controller="Order" asp-route-id="@Model.Id" class="btn btn-warning">Order</a>
        }
    </div>
</div>
    
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}